.artwork{
    margin-top: 100px;
    h2{
font-family: 'Roboto';
font-size: 40px;
font-weight: 700;
line-height: 47px;
letter-spacing: 0em;
text-align: left;
color: rgb(255, 255, 255, 1);
text-align: center;
    }
    p{
        font-family: Poppins;
font-size: 20px;
font-weight: 500;
line-height: 30px;
letter-spacing: 0em;
text-align: center;
color: rgb(255, 255, 255, 0.5);
margin-top: 20px;
}
}