.header{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
        width: 133px;
        height: 38px;
    }
    ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 30%;
    }
    input{
        width: 30%;
        padding: 10px 30px;
        border-radius: 10px;
        background-color: #ffffff23;
        font-family: 'Poppins';
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        border: 1px solid rgba(255, 255, 255, 0.5);
        color: rgba(255, 255, 255, 0.5);
    }
    a{
        font-family: 'Poppins';
        font-family: 500;
        font-size: 20px;
        line-height: 30px;
        color: rgba(255, 255, 255, 1);
    }
    button{
        background-color: rgba(183, 92, 255, 1);
        padding: 10px 20px;
        border-radius: 10px;
        font-family: 'Poppins';
        font-family: 500;
        font-size: 20px;
        line-height: 30px;
        color: rgba(255, 255, 255, 1);
    }
}